<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.xamarin.sample.dihei_empty_node.dihei_empty_node">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="dihei_empty_node">
	</application>
</manifest>
